# Vercel & Deployment
.vercel/
.env
.env.local
.env.*.local

# Dependencies & Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.bak
